<section class="pt-5">
    <div class="container">
        <div class="row py-5 justify-content-center align-content-center ">
            <div class="col-md-10 pt-5 ">
                <h2>About MOVIES<span>ADDiCT</span></h2>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex error iure, delectus aperiam minima pariatur autem maiores placeat illum nisi asperiores. Nisi quidem harum eos suscipit. Repellendus provident tempore repellat.  Nisi quidem harum eos suscipit. Repellendus provident tempore repellat. 
                Ex error iure, delectus aperiam minima pariatur autem maiores placeat illum nisi asperiores. Nisi quidem harum eos suscipit. Repellendus provident tempore repellat.  Nisi quidem harum eos suscipit. Repellendus provident tempore repellat. 
                </p>
            </div>
            
        </div>
        
    </div>
</section>
