@import '../../styles.scss';

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    form{
        .form-group{
            .alert{
                background-color: $lightBgColor;
                color: $fontColor;
            }
            label{
                font-weight:bold;
            }
            .form-control{
                border-width: 0 0 2px 0;
                border-bottom-color: $borderColor;
                background-color: $lightBgColor;
                color: $fontColor;
            }
            .form-control:focus{
                border:none;
                color: $fontColor;
                outline: none;
                box-shadow: none;
            }
            
        }
        
    }
}
