/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@300&family=Space+Grotesk:wght@300&display=swap');


$bgColor: rgb(14, 13, 13);
$lightBgColor: #171717;
$fontColor: #FFF;
$borderColor: #a8a8a83d;
$borderHeight: 2px;
$firstColor: #880d82;



body{
  background-color: $bgColor;
  color:$fontColor;
  font-family: 'Space Grotesk', sans-serif;
}
.active{
  text-decoration: underline $firstColor solid $borderHeight;
}
.active:hover{
  text-decoration-color: $borderColor;
}
a{
  font-size: 18px;
  color: $fontColor;
  text-decoration: none;
}
.col-md-3 .a:hover{
  color: $fontColor;
}
.border{
  height:1px;
  background-color: $borderColor;
}
.second-color{
  color: $firstColor;
}

//all buttons
.btn{
  background-color: transparent;
  border: $borderHeight solid $firstColor;
  color: $firstColor;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}
.btn:hover{
  background-color: $firstColor;
  color: $fontColor;
  cursor: pointer;
}
.btn:focus{
  box-shadow: none;
}

//the movie poster
.vote{
  background-color:  $firstColor;
  padding:5px;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 10px
}
h3{
  font-weight: bold;
  text-align: center;
}
.box{
  background-color: $lightBgColor;
  border: 1px solid $lightBgColor;
  transition: all 0.3s ease-in-out;
}
.box:hover{
  box-shadow: 0px 0px 10px $fontColor;
  border: none;
}